@font-face {
	font-family: alte;
	src: url('fonts/AlteHaasGroteskBold.ttf');
}

body {
	background: url('bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font: 60px alte;
	font-size: 60px;
	color: #f9f6f2;
  text-shadow: 1px 0px 0 #ccc,
               2px 0px 0 #c9c9c9,
               3px 0px 0 #bbb,
               4px 0px 0 #b9b9b9,
               5px 0px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               1px 0 5px rgba(0,0,0,.1),
               2px 0px 3px rgba(0,0,0,.3),
               3px 0px 5px rgba(0,0,0,.2),
               4px 0px 10px rgba(0,0,0,.25),
               5px 0px 10px rgba(0,0,0,.2),
               6px 0px 20px rgba(0,0,0,.15);
}

.bg-mask {
	z-index: -1;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #000;
}

.intro {
	color: #c8c8c8;
	max-width: 600px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #fff;
	margin: 0px auto;
}

.headings-container {
	display: block;
	height: auto;
	text-align: center;
	width: 512px;
	height: 256px;
}



