.wireframe-nav {
	border-bottom: 1px solid #fff;
//	height: 90px;
	width: calc(1140px - 40px);
	margin: 0px auto;
	margin-bottom: 30px;
}
.wireframe-nav-content {
	width: 100%;
	margin: 0 auto;
//	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.wireframe-nav-links {
	margin: 0px auto;
	font-size: 24px;
	text-align: center;
	a {margin: 0px 10px;}
	a:hover {margin: 0px 9px;}
}
.wireframe-nav-brand { margin: 1px; padding: 2px; } //removing retard link styling
.wireframe-nav-brand:hover { border-width: 0px; margin: 1px; padding: 2px; }

@media (max-width: 1140px) {
	.wireframe-nav { width: 95%; }
}

@media (max-width: 768px) {
	.wireframe-nav-content { flex-direction: column; }
	.wireframe-nav-links { font-size: 14px;	margin-bottom: 10px; }
	h1 { font-size: 40px; }
}

.text-padding {
	padding: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

.wireframe-divider-pad {
	height: 20px;
	width: 100%;
}
