$wf-border-color: #ffffff;
$wf-internal-color: #c8c8c8;
$wf-container-bg-color: transparent;
$wf-font-color: #c8c8c8;
$wf-heading-color: #f9f6f2;

html {
	height: 100%;
	width: 100%;
}

body{
	background: #000;
	margin: 0px;
	padding: 0px;
	color: $wf-font-color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 10px;
	letter-spacing: 2px;
	color: $wf-heading-color;
}

h1 { font-size: 60px; }
h2 { font: 40px times; }
h3 { font: 30px times; }
h4 { font: 25px times; }
h5 { font: 20px times; }
h6 { font: 15px times; }

p { line-height: 1.6; letter-spacing: 1px; margin: 5px; font: 16px sans-serif; }

a:link    { color: $wf-border-color; margin: 1px; padding: 2px; text-decoration: none;}
a:hover   { border: 1px solid $wf-border-color; margin: 0px; text-decoration: none; cursor: pointer;}
a:active  { text-decoration: none; background: rgba(200,200,200,0.4);}
a:visited { color: $wf-border-color;text-decoration: none;}

ul, ol {line-height: 1.6;}
ul {list-style-type: circle;}
ol {list-style-type: decimal;}


// framework stuff

.wrapper {
	overflow: auto;
	max-width: 1140px;
	margin: 0px auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.grid .wireframe-container { margin: 0px; }
.wireframe-container {
//	overflow: auto;
	border: 1px solid $wf-border-color;
	min-height: 256px;
	width: 512px;
	position: relative;
	margin: 5px;
//	margin: 0px 5px 5px 0px;
//	display: inline-flex;
	color: $wf-font-color;
//	margin: 5px auto;
	background: $wf-container-bg-color;
}

.wireframe-crossed h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0px;
	background: rgba(0,0,0,0.5);
	padding: 5px;
}


@mixin bg-properties {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
}

.wireframe-crossed:before { // use variables for rgba values https://gist.github.com/karlstolley/3916003
	@include bg-properties;
	background: // http://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css
		 linear-gradient(to top left,
				 rgba(200,200,200,0) 0%,
				 rgba(200,200,200,0) calc(50% - 0.8px),
				 rgba(200,200,200,1) 50%,
				 rgba(200,200,200,0) calc(50% + 0.8px),
				 rgba(200,200,200,0) 100%),
		 linear-gradient(to top right,
				 rgba(200,200,200,0) 0%,
				 rgba(200,200,200,0) calc(50% - 0.8px),
				 rgba(200,200,200,1) 50%,
				 rgba(200,200,200,0) calc(50% + 0.8px),
				 rgba(200,200,200,0) 100%);
}

.wireframe-text:before {
	@include bg-properties;
	left: 5%; // can use fixed gutters with calc
	top: 5%;
	background: repeating-linear-gradient(180deg, $wf-internal-color 5px, $wf-internal-color 10px, transparent 10px, transparent 20px); // last value has to be double the first
	width: 90%;
	height: 90%;
	cursor: text;
}

.wireframe-dashed { // https://css-tricks.com/why-do-we-have-repeating-linear-gradient-anyway/ 
	background: repeating-linear-gradient(90deg, $wf-internal-color, $wf-internal-color 0.125em /* lines */, transparent 0.125em, transparent 1.25em /* space between */) 50% no-repeat;
	background-size: 12.625em /* = 10*1.25em + .125em */ .5em;
}

.wireframe-video:before {
	@include bg-properties;
//	background: $wf-internal-color;
//	-webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
//	clip-path: polygon(100% 50%, 0 0, 0 100%);
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
//	width: 40px;
//	height: 50px;
	cursor: pointer;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 25px 0 25px 40px;
	border-color: transparent transparent transparent $wf-internal-color;
}

.wireframe-crosshatch:before {
	@include bg-properties;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV2M8ceLEfwsLC0YGPACkBqwAn2KYHNwkbIqRxVCsRJZA14jhNpACkHPQ3U2eQqKsJsozRAUPsQEOAJ6eRrkYsJ6UAAAAAElFTkSuQmCC");
}

.wireframe-opaque:before {
	@include bg-properties;
	background: $wf-internal-color;
	opacity: 0.4;
}

.wireframe-diagonal-ltr:before { 
	@include bg-properties;
	background: repeating-linear-gradient(45deg, $wf-internal-color, $wf-internal-color 1px, transparent 1px, transparent 20px);
}

.wireframe-diagonal-rtl:before { 
	@include bg-properties;
	background: repeating-linear-gradient(-45deg, $wf-internal-color, $wf-internal-color 1px, transparent 1px, transparent 20px);
}

.wireframe-horizontal:before { 
	@include bg-properties;
	background: repeating-linear-gradient(0deg, $wf-internal-color, $wf-internal-color 1px, transparent 1px, transparent 3px);
}

.wireframe-dotted:before { //https://codepen.io/aleprieto/pen/nAmIy
	@include bg-properties;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(200,200,200,1), rgba(200,200,200,1) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(200,200,200,1), rgba(200,200,200,1) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(200,200,200,1), rgba(200,200,200,1) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(200,200,200,1), rgba(200,200,200,1) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.wireframe-ericandre:before { 
	@include bg-properties;
	top: 30px;
	left: 30px;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	border: 1px solid $wf-internal-color;
}

.wireframe-ericandre:after { 
	@include bg-properties;
	top: 60px;
	left: 60px;
	width: calc(100% - 120px);
	height: calc(100% - 120px);
	border: 1px solid $wf-internal-color;
}

form {
	padding: 10px;
	font-family: sans-serif;

	input {
		border: 1px solid $wf-border-color;
		background: transparent;
		color: $wf-internal-color;
		margin: 5px;
	}

	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		font-size: 13px;
		margin: 5px;
	}
	label:before {
		content:"";
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		position: absolute;
		left: 0;
		bottom: 1px;
		background-color: transparent;
		border: 1px solid $wf-border-color;
		border-radius: 0px;
	}
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox]:checked + label:before {
			content:"";
			background: // http://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css
			 linear-gradient(to top left,
					 rgba(200,200,200,0) 0%,
					 rgba(200,200,200,0) calc(50% - 0.8px),
					 rgba(200,200,200,1) 50%,
					 rgba(200,200,200,0) calc(50% + 0.8px),
					 rgba(200,200,200,0) 100%),
			 linear-gradient(to top right,
					 rgba(200,200,200,0) 0%,
					 rgba(200,200,200,0) calc(50% - 0.8px),
					 rgba(200,200,200,1) 50%,
					 rgba(200,200,200,0) calc(50% + 0.8px),
					 rgba(200,200,200,0) 100%);
	}

	input[type=radio]:checked + label:before {
		content:"";
		background: rgba(200,200,200,0.4);
	}

	input[type=radio] {
		display: none;
	}
}
.wireframe-textbox {
	padding: 2px;
	outline: none;
}
.wireframe-button {
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
.wireframe-button:hover { color: $wf-border-color; }
.wireframe-button:active {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV2M8ceLEfwsLC0YGPACkBqwAn2KYHNwkbIqRxVCsRJZA14jhNpACkHPQ3U2eQqKsJsozRAUPsQEOAJ6eRrkYsJ6UAAAAAElFTkSuQmCC");
	color: transparent;
}

// objects

.wireframe-card {
	height: 400px;
	width: 256px;
}

.wireframe-card-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 75%;
	width: 100%;
}

.wireframe-card-bottom {
	position: absolute;
	bottom:0px;
	height: 25%;
	width: 100%;
	border-top: 1px solid $wf-border-color;
}

.wireframe-jumbo {
	width: 100%;
	height: 400px;
}

.wireframe-article {
	height: 256px;
	width: 512px;
}
.article-head {
	position: absolute;
	border-bottom: 1px solid $wf-border-color;
	display: flex;
	align-items: center;
	height: 15%;
	width: 100%;
	white-space: nowrap;
	h3 {display: inline-block;}
	h6 {margin-left: auto;}
}
.article-body {
	position: absolute;
	bottom: 0;
	height: 85%;
	width: 100%;
}

.wireframe-nav {
	border-bottom: 1px solid #fff;
//	height: 90px;
	width: calc(100% - 40px);
//	width: 100%;
//	margin: 0px auto;
	margin: 0px 20px 30px 20px;
}
.wireframe-nav-content {
	width: 100%;
	margin: 0 auto;
//	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.wireframe-nav-links {
	margin: 0px auto;
	font-size: 24px;
	text-align: center;
	a {margin: 0px 10px;}
	a:hover {margin: 0px 9px;}
}
.wireframe-nav-brand { margin: 1px; padding: 2px; } //removing retard link styling
.wireframe-nav-brand:hover { border-width: 0px; margin: 1px; padding: 2px; }

@media (max-width: 1140px) {
	.wireframe-nav { width: 95%; }
}

@media (max-width: 768px) {
	.wireframe-nav-content { flex-direction: column; }
	.wireframe-nav-links { font-size: 14px;	margin-bottom: 10px; }
	h1 { font-size: 40px; }
}

.text-padding {
	padding: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

.wireframe-footer {
	border-top: 1px solid $wf-border-color;
	width: 100%;
	margin: 30px 20px;
	padding: 10px;
}

.combo-search {
	.wireframe-textbox {
		margin-right: 0px;
		border-right: 0px solid transparent;
		height: 20px;
	}
	.wireframe-button {
		margin-left: 0px;
		height: 26px; // ???
	}
}

// Lil' Bits
.full-width { width: 100%; }
.dynamic-height { min-height: auto; height: auto; }
.no-border { border: 0px solid $wf-border-color; }
.wireframe-divider-pad { height: 20px; width: 100%; }
.wireframe-divider-hr { height: 20px; width: 100%; border-bottom: 1px solid $wf-border-color; }
.float-right { float: right; }
.float-left { float: left; }
.section-head { width: 100%; text-align: center; }